.icon_expand,
.icon_collapse {
    cursor: pointer;
    display: block;
    float: right;
    height: 32px;
    width: 32px;
    margin: 3px;
    background-size: cover;
}
.icon_collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUJJREFUeNrsl8FtwjAYhWPuGaALdAHWKAN0AXIH7rj30nsYIB0AxigLZIEOwADps/QOVmWTBvKLVLxPspzYif2eY/92ikIIIYQQQgjxqDirhruuK5Gtebtzzp3/jQGKr5GeWdQiVRYmZgbig+gmEl/wumHddA1A4Jwj/5SoDmU1n5meAQhbUHx54bGSJhaTWgMQtES2TFS10RT6zR5rYn93AxDvkb1kxFe8rjMmjjDh72IgEWkuCuszem2EcjdEGj90avRMNY/3WnMDFJ9brG8QcfjDYt8mqs78Eq2ZAXa+SogPnW/Q+WlAuH3PtPPRNwhXGUCnr9HRIOY7lA8dOX7JXWbPCEePz9EMWC3AoYFg7I3seOv5hu9WbMsWjFbYQb+YvEH7Pmq/NjlhIjVjHgNSQYJ9lPrTEUIIIYQQQvTxI8AA3Z2n70qhoAYAAAAASUVORK5CYII=);
}
.icon_rss {
    height: 16px;
    width: 17px;
    display: block;
    float: right;
    margin: 3px;
    background-image: url(data:image/gif;base64,R0lGODlhEAARAOZYAMJQAv////WSN/maOfeXOPGLNet/MviZOfudOvqcOfSRNuZ0L//58/aUN+h5MfKNNe6FNPCJNP748uNuLu6FM9peKv3atdxhK+p9Mf3x5v738ud4L+BqLeV0Lt5lLPzChOyBMv7y5u+dZPupUvu5d/abRPmlUvrOp+6ylfKTQvvm2PzjzeyWY+6rieaLYO6RTPqsXvzZte+NQfehUPSsc/OkZ/i0dfS9mPW/mfi/jvnIm+B1RfqiRv3lzfivafnXv/G3l+iJVeR8R/KjZvmfRfXAmPfUvuqJSfieRPrTs/7s2vqzavSmZ/fDme6aZP7mzv3fwfetafrDj/q+g/WpaP7x5vSygPuvXv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFgALAAAAAAQABEAQAfIgFgAg4SFhYIPCjNTIQEMMAIZATgOCwBYmJmam4IYL01Jko4kCQgHAgWDAyMMAScFNQEqC0ABKBeDHUc3RUMRiQ0EA6UHgxRMEitSSAMWAQE2BRAGg8FQTx9EjVYGGgFBHISn0gaVExweFxWFHRsYIBS/CsHDhBsizwESOiXCxAKD4MnzoeTZh3EQBkWgko/BFQQx9MkoN2ieMB7OqqSgEUDDggmDCCx51kNAjgA/HBgJ0MLDoFImopBzwmKCEBc71gkyxHMQlkAAOw==);
    background-size: cover;
}
.icon_info {
    display: block;
    float: right;
    height: 32px;
    width: 32px;
    margin: 3px;
    background-size: cover;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAihJREFUeNrsWNGNwjAMTdH9ZgAYgAUY4DIADNAbAAboGjBAGYAO0P5T/o8FOkAZgAE492QkK0eo0yYtJ/IkiwJp7Oc4jmMhAgICAgLeGZHLyW632xw+FiAzkLn2dwVSg5yjKKpehgAYLeFDgaxBpszXLiAHkALIXEcjAMY3hicGw8/a94WByA5IlIMSQK83hi/Jz40nC5DcFCIYYit8T5K/CiRy9U4AjU9JjDdKs0a4BuAcMYoke2TTN6RaFYMcQL5RDujVzpv+wXzSZo6Jpc6EeP7usc4ZBd/d4FwC5058eV/ZeApXa4UiLVdW+QidHCc/csIGxmyJQVtmOB1xfM4NJW4ILUmqzJhhIw3Pz8Ipw69TPFucEfjSMg4HBY6/p1cOMhwv8GB0Ux6QUEiEZzQ6iL6ZixWgJ2huaUiKYkOcnsqfbYM/GBPOtDjlYm4oH9r2whkI/9HdZwVo3h8KlabbyUF2HZAAW9dE/HO8KgHpkkD1pJ73Bfa+4xCoSWr0TkLTUbsgcCLPagDvK4PubgQgL9d49futiWzr9Q6Xpfst74K6nWziPdlcsUfv0xva3mUWKskqxH1uYS0tmZhc9kvXClSfq5+vCw37HMDWR0HSXOqCxIMmQWHTZrE9yHZanZL2vdRrxleo433aKj4aW2VTEj85pNSojS19Ywtza7EiVaU0lMbjtBYfrIYS9s3dPa7WeM1dw6Zsa6+fOCdsQEBAQEAABz8CDAB2AosQKxGzVAAAAABJRU5ErkJggg==);
}
